.container {
    max-width: 1200px;
    margin: 0 auto;
}

.main .container {
    padding-top: 100px;
}

.main .container h1 {
    color: #000;
    font-family: "Cera Pro", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 64px;
}

.main .container .add-btn-category {
    min-width: 140px;
    border-radius: 6px;
    background: #46A358;
    color: white;
    padding: 9px 26px;
    font-family: "Cera Pro", sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    border-color: #46A358;
    margin-bottom: 54px;
}

.main .category-wrapper h2 {
    color: #3D3D3D;
    font-family: "Cera Pro", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    margin-bottom: 24px;
    padding-top: 12px;
}

.category-wrapper ul li {
    color: #3D3D3D;
    font-family: "Cera Pro", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 140%;
    margin-bottom: 16px;
    padding-left: 10px;
}

.main .category-panel-wrapper .add-btn-subcategory {
    min-width: 96px;
    border-radius: 6px;
    background: #46A358;
    color: white;
    padding: 8px 24px;
    font-family: "Cera Pro", sans-serif;
    font-size: 16px;
    font-weight: 700;
    border-color: #46A358;
}

.main .category-panel-wrapper .edit-btn {
    min-width: 96px;
    border-radius: 6px;
    background: #469BDB;
    color: white;
    padding: 8px 24px;
    font-family: "Cera Pro", sans-serif;
    font-size: 16px;
    font-weight: 700;
    border-color: #469BDB;
}

.main .category-panel-wrapper .delete-btn {
    min-width: 96px;
    border-radius: 6px;
    background: #CC0000;
    color: white;
    padding: 8px 24px;
    font-family: "Cera Pro", sans-serif;
    font-size: 16px;
    font-weight: 700;
    border-color: #CC0000;
}

.main .category-panel-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}