@use "sass:map";

.header {
  $logo-dimension: 26px;
  padding: 21px 0;
  max-height: 80px;

  &__content {
    @extend %flex-between;
    align-items: center;
  }

  &__start {
    @extend %flex-between;
    @include flex-gap(73px, false);
    align-items: center;
  }

  &__logo a {
    width: $logo-dimension;
    height: $logo-dimension;
    background-color: map.get($colors, "accent-color");
    border-radius: 50%;
    transition: 0.3s box-shadow;

    &:hover {
      box-shadow: 0 0 11px -3px map.get($colors, "accent-color");
    }
  }

  &__main-menu ul {
    @extend %list-unstyled;
    @include flex-gap(42px);
    align-items: center;
  }

  &__end {
    @extend %flex-between;
    @include flex-gap(15px, false);
    align-items: center;
  }

  &__socials ul {
    @include flex-gap(35px);
    font-size: map.get($font-sizes, "lg");
  }
}
